Source: rex-apache-deploy
Section: admin
Priority: optional
Maintainer: Jan Gehring <jan.gehring@gmail.com>
Build-Depends: debhelper (>= 4), perl (>= 5.8.0), rex (>= 0.6.0)
Standards-Version: 3.5.1
Homepage: https://github.com/krimdomu/rex-apache-deploy

Package: rex-apache-deploy
Architecture: all
Depends: perl (>= 5.8.0), rex (>= 0.6.0)
Description: Apache Deploy Plugin for (R)?ex
